<div class="main-container">

    <clr-alert *ngIf="!loggedIn" [clrAlertType]="'alert-warning'" [clrAlertAppLevel]="true">
        <div class="alert-item">
            <span class="alert-text">
                Please log in or register. For the application usage you must be logged in.
            </span>
            <div class="alert-actions">
                <button class="btn alert-action">Log In</button>
                <button class="btn alert-action">Register</button>
            </div>
        </div> 
    </clr-alert>
    
    <clr-alert *ngIf="loggedIn && noAccounts" [clrAlertType]="'alert-info'" [clrAlertAppLevel]="true" [clrAlertClosable]="true">
        <div class="alert-item">
            <span class="alert-text">
                You don't have any accounts configured. You won't be able to enter transactions without them.
            </span>
            <div class="alert-actions">
                <button class="btn alert-action">Configure My Accounts</button>
            </div>
        </div>
    </clr-alert>

    <header class="header header-1">
        <div class="branding">
            <a href="/" class="nav-link">
                <clr-icon shape="home"></clr-icon>
                <span class="title">Household</span>
            </a>
        </div>
        <div *ngIf="loggedIn" class="header-nav">
              <a href="#" class="nav-link"><span class="nav-text">Dashboard</span></a>
              <a href="#" class="nav-link"><span class="nav-text">Transactions</span></a>
              <a href="#" class="nav-link"><span class="nav-text">Reports</span></a>
              <a href="#" class="nav-link"><span class="nav-text">Profile Management</span></a>
          </div>
          <div class="header-actions">
              <span class="nav-link nav-text">
                  {{ username }}
              </span>
              <clr-dropdown class="dropdown bottom-right">
                  <button class="nav-icon" clrDropdownToggle>
                      <clr-icon shape="user"></clr-icon>
                      <clr-icon shape="caret"></clr-icon>
                  </button>
                  <div class="dropdown-menu">
                      <a href="/" clrDropdownItem>About</a>
                      <a *ngIf="!loggedIn" href="/login" clrDropdownItem>Login</a>
                      <a *ngIf="loggedIn" href="/login" clrDropdownItem>Log out</a>
                  </div>
              </clr-dropdown>
          </div>
    </header>
    <nav *ngIf="loggedIn" class="subnav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="#">My Profile</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Accounts</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#">Synchronization</a>
            </li>
        </ul>
    </nav>
    <div class="content-container">
        <div class="content-area">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>