<label>Transactions</label>

<div class="table-buttons">
    <button type="submit" class="btn btn-link">Add new</button>
    <button type="submit" class="btn btn-link" disabled>Search</button>
    <button type="submit" class="btn btn-sm btn-link">Export</button>
    <button type="submit" class="btn btn-sm btn-link" disabled>Import</button>
</div>

<clr-datagrid>
    <clr-dg-column>Account name</clr-dg-column>
    <clr-dg-column>Cost Center</clr-dg-column>
    <clr-dg-column>Category</clr-dg-column>
    <clr-dg-column>Description</clr-dg-column>
    <clr-dg-column>Amount</clr-dg-column>
    <clr-dg-column>Account</clr-dg-column>
    <clr-dg-column>Transferred to</clr-dg-column>

    <clr-dg-row *clrDgItems="let transaction of transactions" [clrDgItem]="transaction">
        <clr-dg-cell>{{transaction.date}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.costCenter}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.category}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.description}}</clr-dg-cell>
        <clr-dg-cell class="number">{{transaction.amount}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.account}}</clr-dg-cell>
        <clr-dg-cell>{{transaction.transfer}}</clr-dg-cell>
    </clr-dg-row>

    <clr-dg-footer>
        {{transactions.length}} transaction(s)
    </clr-dg-footer>
</clr-datagrid>