
<form (ngSubmit)="f.form.valid && change()" #f="ngForm" novalidate>
    <section class="form-block">
        <label>Current balance in my pocket</label>
        <div class="form-group">
            <label for="lastUpdated" class="required">On date</label>
            <label for="lastUpdated" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="lastUpdated.invalid && lastUpdated.dirty">
            <input type="date" class="form-control" placeholder="Enter date changed" size="30" [(ngModel)]="model.lastUpdated" name="lastUpdated" #lastUpdated="ngModel" required>
            <span class="tooltip-content">Changed date cannot be empty!</span>
        </label>
        </div>        
        <div class="form-group">
            <label for="aForm_4">Current balance</label>
            <clr-datagrid id="aForm_4">
                <clr-dg-column>Account</clr-dg-column>
                <clr-dg-column>Name</clr-dg-column>
                <clr-dg-column>Currency</clr-dg-column>
                <clr-dg-column>Balance</clr-dg-column>

                <clr-dg-row *ngFor="let account of model.currentBalance">
                    <clr-dg-cell>{{account.account}}</clr-dg-cell>
                    <clr-dg-cell>{{account.account}}</clr-dg-cell>
                    <clr-dg-cell>{{account.account}}</clr-dg-cell>
                    <clr-dg-cell>{{account.balance}}</clr-dg-cell>
                </clr-dg-row>

                <clr-dg-footer>{{model.currentBalance.length}} active account(s)</clr-dg-footer>
            </clr-datagrid>
        </div>
        <button type="submit" class="btn btn-primary">Store</button>
    </section>
</form>