<form (ngSubmit)="f.form.valid && login(); f.form.reset()" #f="ngForm" novalidate>
    <section class="form-block">

        <label>Login with an existing account</label>

        <div class="form-group">
            <label for="txtUsername" class="required">Username</label>
            <label for="txtUsername" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="username.invalid && username.dirty">
                <input id="txtUsername" class="form-control" type="text" placeholder="Enter your username" size="30" [(ngModel)]="model.username" name="username" #username="ngModel" required>
                <span class="tooltip-content">Username cannot be empty!</span>
            </label>
        </div>

        <div class="form-group">
            <label for="txtPassword" class="required">Password</label>
            <label for="txtPassword" aria-haspopup="true" role="tooltip" class="tooltip tooltip-validation tooltip-md" [class.invalid]="!password.valid && !password.pristine">
                <input id="txtPassword" class="form-control" type="password" placeholder="Enter your password" size="30" [(ngModel)]="model.password" name="password" #password="ngModel" required>
                <span class="tooltip-content">Password cannot be empty!</span>
            </label>
        </div>
        
        <div class="form-group">
            <div class="checkbox">
                <input type="checkbox" id="chkRememberMe" #rememberme [(ngModel)]="rememberMe" name="rememberMe">
                <label for="chkRememberMe">Remember me</label>
                <p [hidden]="!rememberme.checked" class="p6">
                    Note: the information will be stored in cookies.
                    The user explicitly agrees to the cookie usage.
                </p>        
            </div>
        </div>

        <div *ngIf="showError" class="alert alert-danger">
            <div class="alert-item">
                <span class="alert-text">
                    Invalid user name or password.
                </span>
            </div>
        </div>

        <button type="submit" class="btn btn-primary" [disabled]="!f.form.valid">LOG IN</button>

        <p class="p5">
            Actually, I don't have an account, but I would rather <a routerLink="/register" class="signup">register new account</a>.   
        </p>
    </section>
</form>
