 Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy
foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive
innovation via workplace diversity and empowerment.

<button type="submit" class="btn btn-primary">Primary</button>
<button type="submit" class="btn btn-success">Success</button>
<button type="submit" class="btn btn-warning">Warning</button>
<button type="submit" class="btn btn-danger">Danger</button>
<button type="submit" class="btn btn-danger" disabled>Disabled</button>
<br/>

<button type="submit" class="btn btn-outline">Regular</button>
<button type="submit" class="btn btn-success-outline">Success-Outline</button>
<button type="submit" class="btn btn-info-outline">Info</button>
<button type="submit" class="btn btn-warning-outline">Warning</button>
<button type="submit" class="btn btn-danger-outline">Danger</button>
<button type="submit" class="btn btn-outline" disabled>Disabled</button>

<div class="alert alert-danger">
    <div class="alert-item">
        <span class="alert-text">
            This alert is at the top of the page.
        </span>
    </div>
</div>

Leverage agile frameworks to provide a robust synopsis for high level overviews. Iterative approaches to corporate strategy
foster collaborative thinking to further the overall value proposition. Organically grow the holistic world view of disruptive
innovation via workplace diversity and empowerment.

<clr-alert [clrAlertClosable]="false">
    <div class="alert-item">
        <span class="alert-text">
                  This alert cannot be dismissed.
              </span>
        <div class="alert-actions">
            <clr-dropdown [clrMenuPosition]="'bottom-right'">
                <button class="dropdown-toggle" clrDropdownToggle>
                          Actions
                          <clr-icon shape="caret" class="icon-orient-down"></clr-icon>
                      </button>
                <div class="dropdown-menu">
                    <a href="javascript://" class="dropdown-item" clrDropdownItem>Shutdown</a>
                    <a href="javascript://" class="dropdown-item" clrDropdownItem>Delete</a>
                    <a href="javascript://" class="dropdown-item" clrDropdownItem>Reboot</a>
                </div>
            </clr-dropdown>
        </div>
    </div>
</clr-alert>


