<clr-wizard #wizard [(clrWizardOpen)]="opened" [clrWizardSize]="'lg'">
    <div class="wizard-title">Wizard Title</div>

    <clr-wizard-step>Step 1</clr-wizard-step>
    <clr-wizard-step>Step 2</clr-wizard-step>
    <clr-wizard-step>Step 3</clr-wizard-step>

    <clr-wizard-page (clrWizardPageOnCommit)="onPreviewFile()">
        <input type="file" (change)="onFileSelected($event)" />
    </clr-wizard-page>

    <clr-wizard-page (clrWizardPageOnCommit)="onMatchRecords()">
        <clr-datagrid>
            <clr-dg-column *ngFor="let column of columns">Column {{column}}</clr-dg-column>

            <clr-dg-row *clrDgItems="let row of rows; let i = index" [clrDgItem]="row" [class.highlighted]="firstRowIsHeader && i == 0">
                <clr-dg-cell *ngFor="let cell of row">{{cell}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{rows.length}} lines (only first 5 displayed)
            </clr-dg-footer>
        </clr-datagrid>

        <div class="checkbox">
            <input type="checkbox" id="firstRowIsHeader" [(ngModel)]="firstRowIsHeader" />
            <label for="firstRowIsHeader">First row is header</label>
        </div>

    </clr-wizard-page>

    <clr-wizard-page [clrWizardPageNextDisabled]="!requiredFieldsAssigned">

        <clr-datagrid>
            <clr-dg-column>File column</clr-dg-column>
            <!--<clr-dg-column>Import</clr-dg-column>-->
            <clr-dg-column>Action</clr-dg-column>
            <clr-dg-column>Schema field</clr-dg-column>
            <clr-dg-column>Field description</clr-dg-column>

            <clr-dg-row *clrDgItems="let match of matches" [clrDgItem]="match">
                <clr-dg-cell>{{match.fileColumn}}</clr-dg-cell>
                <clr-dg-cell>
                    <div>
                        <clr-dropdown [hidden]="match.schemaField || assignableFields.length == 0" [clrMenuPosition]="'bottom-right'">
                            <button class="btn btn-outline-primary btn-sm" clrDropdownToggle>
                                Match 
                                <clr-icon shape="caret down"></clr-icon>
                            </button>
                            <div class="dropdown-menu">
                                <label class="dropdown-header">Unassigned fields</label>
                                <a *ngFor="let assignee of assignableFields" clrDropdownItem 
                                    (click)="assign(match, assignee)" [class.required]="assignee.required">{{assignee.caption}}</a>
                            </div>
                        </clr-dropdown>
                        <button [hidden]="!match.schemaField" type="button" class="btn btn-warning-outline btn-sm" (click)="unassign(match)">Clear</button>
                    </div>
                </clr-dg-cell>                
                <!--<clr-dg-cell>
                    <input type="checkbox" [(ngModel)]="match.selected" />
                    <span>govno</span>
                </clr-dg-cell>-->
                <clr-dg-cell>{{match.schemaField?.caption}}</clr-dg-cell>
                <clr-dg-cell>{{match.description}}</clr-dg-cell>
            </clr-dg-row>

            <clr-dg-footer>
                {{matches.length}} columns (2 required fields rest to match)
            </clr-dg-footer>
        </clr-datagrid>

    </clr-wizard-page>
</clr-wizard>